language: python

sudo: false
env:
  matrix:
    - DOCS="true"
    - TESTS="true"
  global:
    - secure: "kJUVmbb8L26E4UNTp3n/UUeR8h4AWPIV8el8iKkNmjIsnbWogdJN9pVpQxFNyOs1+9B0DAXlFbcgeVQrYmTbBoBsGk3hNu8JK3/ZCdKw00R46xdbOCjHEpbsjVcBFC1ZRZ1i5Mdce54dDZhNbw1lLVU1zVSEUuKAMLYhL1PXvKR/8Oi+4FusBIzdxhEcyRaQz+fl6U5S+9PVpnhYCAydJikVoIqHwMi4t0CtBLwPTHoJj8wPqZKIbcPApumSFWHNqvHQ0+hx03UdafP/1Zuz7E5GSl2YUVV6KK9+hg5Avc6NhnV+7t6YjMAkNg0oanQLifBPMgA/TyP/BtXDJzy/sxbMGbumndz4i1Q2SIerhqGCnet2wjUW/O5ClNJIhUBoeZV90NUUS5pV7kfsOJbPFRMiSQ4xY2n+bd1gacrd+z+v6II6WxIajSd/BgSCVzVzumQAmUWvi2i4rG07JOoPH1v2SJ9cvIGsH5TCVVCt/EkVW9nrVcNSmQYe+K4ReydPK2zZ+K2Yz1Xg6SsgUCfX1uZP4GsZfM80aIjxTMzNXqv8tHEuFSi/Go7FjftXoUHJrXIZ7lEN+vgCWIUl9rUOtbiMbfFQ7BigI7Gx/ZMeyqpuqGeyvA44m6K6Y3PEXyUmavtSg4+CPrNtj2EG8t4IKWAVgVPYnW6iWlzOFuHce1w="

python:
  - 3.5
  - 3.6

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels conda-forge # For sphinxcontrib.autoprogram
  - conda update -q conda
  - conda info -a
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION requests cryptography sphinx pyflakes sphinxcontrib-autoprogram pytest sphinx-issues pyyaml
  - source activate test-environment

script:
  - set -e
  - set -x
  - |
    if [[ "${DOCS}" == "true" ]]; then
      cd docs;
      make html;
      cd ..;
      python -m doctr deploy --sync .;
      python -m doctr deploy --sync --gh-pages-docs docs;
      python -m doctr deploy --sync --no-require-master  --built-docs docs/_build/html "docs-$TRAVIS_BRANCH";
      echo test >> test
      python -m doctr deploy --no-require-master  --command "echo test; ls; touch docs/_build/html/test" docs;
      # Test syncing a tracked file with a change
      python -m doctr deploy --sync stash-test --built-docs test;
      python -m doctr deploy --deploy-repo drdoctr/drdoctr.github.io docs;
    fi
  - if [[ "${TESTS}" == "true" ]]; then
      pyflakes doctr;
      py.test doctr;
    fi
doctr:
  key-path: deploy_key.enc
  require-master: true
  sync: False
  lubalubadubdub: False
